/* ========= COLORS ====================== */

:root {
  --main-orange: rgb(240, 155, 20);
  --main-orange-light: rgb(254, 197, 107);
  --white: #fff;
  --body-dark: #0e0c0c;
  --title-dark: #333;
  --transparent-white: #fffc;
}
