/* ========= MEDIA QUERY VARIABLES====================== */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}

@include media-breakpoint-up(xs) {
  ...;
}
@include media-breakpoint-up(sm) {
  ...;
}
@include media-breakpoint-up(md) {
  ...;
}
@include media-breakpoint-up(lg) {
  ...;
}
@include media-breakpoint-up(xl) {
  ...;
} */

/* ========= COMMISSIONS ====================== */
.commissioned-work-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tab-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tab-img {
  width: 250px;
}

#nav-tabContent {
  border-bottom: 1px solid rgb(215, 219, 224);
  border-left: 1px solid rgb(215, 219, 224);
  border-right: 1px solid rgb(215, 219, 224);
}
.commissioned-work-block:nth-child(even) {
  flex-direction: row-reverse;
}
